<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wei.zslq">

    <!-- To auto-complete the email text field in the login form with the userEntity's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- bmob配置 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- umeng 权限配置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.main.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.main.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.main.HomeBottomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.im.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.profile.ProfileEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.profile.ProfileIconEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.profile.ProfileNickEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.zone.TalkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.seller.SellerSimpleInfoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.seller.SellerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.seller.SellerShopGridViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.zone.TalkPublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.zone.TalkCommentActivity"
            android:label="@string/title_activity_talk_comment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TalkCommentActivity" />
        <activity
            android:name=".controller.main.JokeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qinwei.photoselector.PhotoSelectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="568a1cfd67e58e5f3e000739" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />


    </application>

</manifest>
